{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Dashboard</h1>

<div class="info-unit">
    <h2>Summary</h2>

    {% for summary_item in dashboard_summary_items %}
        <div class="summary-block">
            <table>
                    <tr><td><img src="{% get_media_prefix %}{{ summary_item.icon }}"" height="48px" alt="{{summary_item.icon}}"></td></tr>
                    <tr><td>{{ summary_item.name|safe }}</td></tr>
                    <tr><td>
                        <div class="progress complete roundleft" style="width: {{ summary_item.bar_left_width }}px"></div>
                        <div class="progress {% if summary_item.exceeds_model %}lead{% else %}lag{% endif %}" style="width: {{ summary_item.bar_mid_width }}px"></div>
                        <div class="progress remain roundright" style="width: {{ summary_item.bar_right_width }}px"></div>
                    </td></tr>
                    <tr><td class="summary-label">{{ summary_item.actual|floatformat:1 }} {{ summary_item.units|safe }} ({% if summary_item.exceeds_model %}+{% endif %}{{ summary_item.difference|floatformat:1 }})</td></tr>
            </table>
        </div>
    {% endfor %}

</div>

{{ timeseries_plot|safe }}

{% endblock %}