{% extends "base.html" %}

{% block title %}
Forecast
{% endblock %}

{% block content %}
<div>
  {% load static %}
</div>
<h1>Forecast Data</h1>
<div class="data data-forcast">
  <!-- Daily Statistics -->
  {% include "snippets/live_data.html" %}
  <br/>
  <!-- Data Cards -->
  <div class='data'>
    <!-- Market Data -->
    {% include "snippets/card.html" with plot_script=mkt_script %}
    <!-- Solar Forecast Data -->
    {% include "snippets/card.html" with plot_script=solar_script %}
    <!-- Forecast Data Tables -->
    {% include "snippets/card.html" with plot_script=forecast_tables_script %}
  </div>
</div>
{% endblock %}