{% load static %}
<div class="navigation">
    <!-- Image of the sun -->
    <!-- <img src="{% static "img/dtk64.png" %}" height="46px" alt="Logo" style="margin-left: 4px"> -->
    <ul class="sidebar-navigation nav-min">
        <li class="site-title">
            <h3><img src="{% static "img/dtk64.png" %}" alt="CSP PLANT logo"
                class="csp-logo" width=35px/><span class='site-title-text'>CSP Plant</span></h3>
        </li>
        <li>
            <div class="profile">
                <div class="profile_pic">
                    <img src="{% static "img/default-user-avatar.png" %}" alt="profile pic"
                        class="img-circle profile-img" />
                </div>
                <div class="profile_info">
                    <h2>Plant Manager</h2>
                </div>
            </div>
        </li>
        <li class="nav-btn">
            <a href="{% url 'dashboard' %}"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li class="nav-btn">
            <a href="{% url 'forecast' %}"><i class="fas fa-chart-line"></i> Forecast</a>
        </li>
        <li class="nav-btn">
            <a href="{% url 'history' %}"><i class="fas fa-chart-bar    "></i>History</a>
        </li>
        <li class="nav-btn">
            <a href="{% url 'maintenance' %}"><i class="fas fa-table"></i>Maintenance</a>
        </li>
        <li class="nav-btn">
            <a href="{% url 'settings' %}"><i class="fas fa-cogs    "></i>User Settings</a>
        </li>
        <li class="menu-toggle">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </li>
    </ul>
</div>