body {
  padding: 0px;
  margin: 0;
  color: white !important;
  background-color: #1d262e !important;

}

h1,h2,p,ul,li {
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

svg {
  margin-right: 10px;
}

.content {
  padding: 10px;
  margin-left: 75px;
}

/* The side navigation menu */
.sidebar-navigation{
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #2b4055; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-left: 0px;
  padding-top: 10px; /* Place content 60px from the top */
  margin: 0;
}
.sidebar-navigation.nav-min{
  width: 75px;
}

.nav-min .site-title-text{
  display: none;
}

.nav-min .site-title img{
  width:100%;
}

.nav-min .profile_info{
  display: none;
}

.nav-min .profile_pic{
  width: 100%;
}

.nav-min .profile_pic img{
  width:100%;
  margin-left:0;
}

.nav-min li a {
  font-weight: 400;
  font-size: 10px;
  padding: 10px 5px;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-min li a svg{
  font-size: 25px;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;

}

.sidebar-navigation.nav-min li:nth-of-type(n+3){
  padding:0;
  padding-right: 5px;
}

.nav-min li.nav-btn.active {
  padding-right: 0px;
}

.sidebar-navigation.nav-min li.menu-toggle{
  text-align: center;
  width:100%;
}

.sidebar-navigation.nav-full li.menu-toggle{
  text-align: center;
  right: 30px;
}

.menu-toggle > svg{
  margin: 0;
}

  .sidebar-navigation li.menu-toggle{
  position: absolute;
  bottom: 100px;
  font-size: 25px;
  cursor: pointer;
  display: none;
}


.sidebar-navigation.nav-full{
  width: 230px; /* 0 width - change this with JavaScript */
}

/* The navigation menu links */
.sidebar-navigation a,
.sidebar-navigation li {
  padding: 5px 10px 5px 10px;
  margin-bottom: 6px;
  text-decoration: none;
  font-size: 15px;
  color: #ecf0f1;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar-navigation a:hover {
  color: #f1f1f1;
}

/* Profile Information */
.img-circle.profile-img {
  width: 70%;
  background: #fff;
  margin-left: 10%;
  z-index: 1000;
  position: inherit;
  margin-top: 0px;
  border: 1px solid rgba(52, 73, 94, 0.44);
  padding: 4px;
}

.img-circle {
  border-radius: 50%;
}

.profile_pic {
  width: 35%;
  float: left;
}

.profile_info h2 {
  font-size: 14px;
  color: #ecf0f1;
  margin: 0;
  font-weight: 300;
}

.profile_info {
  padding: 25px 10px 10px;
  width: 65%;
  float: left;
}

.profile:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.livestatus {
  color: white;
  float: right;
  padding: 14px 16px;
  position: absolute;
  top: 0;
  right: 0;
}

.livestatus td {
 padding: 5px;
}

 .circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.circle.ok {
  background-color: green;
}
.circle.warn {
  background-color: orange;
}

.row.tile_count {
    width: 100%;
    text-align: center;
}

.live-data{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin-top: 60px;
}

.sidebar-navigation .csp-logo {
  border-radius: 50%;
  margin-right: 20px;
}

.sidebar-navigation h3{
  font-size: 1.75rem;
}

.card.h-100 .card-body{
  padding: 0 20px 20px 20px;
  margin-top: 10px;
}

.col .card{
  border: none;
  background-color: #15191c;
}

.row:has( .card.h-100){
  margin-top:20px;
}

.row{
  margin: auto 0 !important;
}

.plots.row, .tables.row{
  margin-bottom: 20px !important;
  padding: 20px auto;
}
.data-forecast .plots.row{
  justify-content: space-between;
}

.bokeh_buttons{
  background-color: #1d262e !important;
  color: white !important;
  font-weight: bold;
}

.bk-root .bk-btn-default.bk-active{
  background-color: #293744 !important;
  color: white !important;
  border-color: #1d2327;
  border-width: 2px;
}

.bk-root .bk-btn-default {
  color: white !important;
  background-color: #15191c;
  border-color: #1d2327;
  border-width: 2px;
}

.bk-root .bk-btn-default:hover {
  color: white !important;
  background-color: #2b353d;
  border-color: #1d2327;
  border-width: 2px;
}

.bk-root .bk-input {
  color: white;
  background-color: #15191c;
  border: 2px solid #1d2327;
  border-radius: 4px;
}

.bk-root .slick-row.odd {
  background: hsl(206, 14%, 10%);
}

.bk-root .slick-row{
  background: hsl(206, 14%, 20%);
}

.bk-root .slick-header-column{
  background:  hsl(206, 36%, 23%);
}

.active{
  border-right-color: teal;
  border-right-width: 5px;
  border-right-style: solid;
}